 #calendar {
    max-width: 900px;
    margin: 50px auto;
    color: darkmagenta;
    background-color: lightpink;
    border-radius: 0 0 10px 40px;
  }

  #calendar button{
    background-color: thistle;
    border-radius: 10px;
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;    
}